.inner-nav {
  @media (max-width: 767px) {
    display: none;
    position: absolute;
    width: 100%;
    top: 60px;
    left: 0;
    z-index: 2;

    &--hide {
      display: none;
    }

    &--opened {
      display: block;
    }

    &--nojs {
      display: block;
    }
  }
}

.inner-nav__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  background-color: #ffffff;

  @media (min-width: 768px) {
    position: relative;
    top: 0;
    display: flex;
    flex-wrap: wrap;
  }

  @media (min-width: 1440px) {
    min-width: 468px;
    justify-content: space-between;
  }
}

.inner-nav__list-item {
  border-bottom: 1px solid #f0ebff;
  cursor: pointer;

  &--active {
    border-top: 1px solid #f0ebff;
  }

  &:active {
    background-color: #f0ebff;
  }

  @media (min-width: 768px) {
    border-bottom: none;
    position: relative;
    height: 80px;

    &--active {
      border-top: none;

      &::after {
        content: "";
        position: absolute;
        right: 0;
        left: 0;
        bottom: 0;
        height: 2px;
        background-color: #7859cf;
      }
    }
  }
}

.inner-nav__list-link {
  display: block;
  padding: 22px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #333333;

  &:hover {
    color: #7859cf;
  }

  :focus {
    color: #7859cf;
  }

  @media (min-width: 768px) {
    padding: 32px 20px;

    &--active {
      color: #7859cf;
    }
  }
}
